.top-panel {
    width: 900px;
}

.idle-text {
    height: 26px;
    width: 100%;
}

.third-panel {
    display: none;
}

.behind-wallpapers {
    position: absolute;
    right: 0;
    top: 0;
    width: 1523px;
    height: 857px;
    z-index: 1;
}

.wallpaper-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    width: 1523px;
    height: 857px;
    z-index: 2;
    overflow: hidden;
}

.wallpaper {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 857px;
    z-index: 3;
    background: url("../img/slider-bg.png") no-repeat center center / cover;
}

.wallpaper.active {
    z-index: 4;
    -webkit-animation: slideFade;
    animation: slideFade;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 1;
}

.wallpaper.queued {
    z-index: 0;
    opacity: 0;
}

.wallpaper * {
    max-width: 100%;
    max-height: 857px;
}

.bg-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 120%;
    height: 120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
    max-width: none;
    max-height: none;
}

.bg-blur ~ * {
    position: relative;
    z-index: 6;
}

.wallpaper-info {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    color: #fff;
    z-index: 7;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
}

.wallpaper-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.wallpaper video,
.wallpaper img {
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

@-webkit-keyframes slideFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}