<div class="wallpaper-wrapper" ng-init="getWallpapers([0,21], [0,32])">
    <div class="wallpaper video" ng-repeat="source in videoSources">
        <video ng-src="{{source}}" class="wallpaper-video">
            <source type="video/webm">
        </video>
    </div>
    <div class="wallpaper image" ng-repeat="source in imageSources">
        <img ng-src="{{source}}" alt="">
    </div>
</div>

<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="js/idle.js"></script>
<link rel="stylesheet" href="css/slick.css">