<div class="wallpaper-wrapper">
    <div class="wallpaper">
        <video class="wallpaper-video" autoplay loop>
            <source src="/img/wallpapers/angel.webm" type="video/webm">
        </video>
    </div>
    <div class="wallpaper">
  <video class="wallpaper-video" autoplay loop>
            <source src="/img/wallpapers/jojo.webm" type="video/webm">
        </video>
</div>
    <div class="wallpaper"><img src="/img/wallpapers/09.jpg"></div>
</div>

<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="js/idle.js"></script>
<link rel="stylesheet" href="css/slick.css">