.top-panel {
    width: 900px;
}

.idle-text {
    height: 26px;
    width: 100%;
}

.third-panel {
    display: none;
}

.wallpaper-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    width: 1523px;
    height: 857px;
}

.wallpaper * {
    width: 100%;
}
