<video class="bgvideo" autoplay loop>
  <source src="img/videoloop.webm" type="video/webm">
  <source src="img/videoloop.mp4" type="video/mp4">
</video>

<!--<div class="meme-spammer"></div>-->

<div id="chat_box"></div>

<osuceleb-userinfo></osuceleb-userinfo>

<osuceleb-leaderboard></osuceleb-leaderboard>

<div style="background-image: url(&quot;https://dl.dropboxusercontent.com/s/iwl4jffw67h1l7v/follow-alert-1438474286046.png?dl=0&quot;); position: fixed; left: -580px; top: 600px; display: inline-block; z-index: 9;" id="follower-alert">
  <div class="text" id="new-follower">Test_user</div>
  <div class="has-followed">has followed!</div>
</div>

<script src="js/socket.io.js"></script>
<script src="js/punycode.min.js"></script>
<script src="js/twitch-chat.js"></script>
<script src="js/userinfo.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/follower-alert.js"></script>